.Home {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	    padding-top: 105px;
    padding-bottom: 180px;
}
.flex{
	height: 100%;
	margin: 0;
}
#theme-blue{
	background-color: #48E0CD;
	color: white;
}
#theme-white{
	background-color: #FFFFFF;
	color: #3c4e52;	//dark gray
	border: 1px solid #ccd3db; //light gray
}
#title-clearity{
	font-size: 60px;
}
#logo{
	color:#48E0CD !important;
	font-size: 30px;
	font-weight: bold;
}
.landing-image{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/intersection.png') !important;
    background-size: cover !important;
    min-height: 100%;
}
