#theme-blue{
	background-color: #48E0CD;
}

#logo{
	color:#48E0CD !important;
	font-size: 30px;
}

.ui.cards {
    margin-top: 20px;
}

.add-create {
    padding-top: 50px !important;
    padding-bottom: 50px !important;

    header {
        margin-top: 20px;
    }
}
.addClass{
	width: 50px;
}

#cards-container {
    display: flex;
    justify-content: center;
	margin: 0 auto 0 auto !important;
}

Card {
    margin: 10px !important;
}

.card-element {
    margin: .875em .5em !important;
  }
