.Register {
    color: #3c4e52;
    margin-left: auto;
	margin-right: auto;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper-register{
  	height: 100vh;
	position: relative;
}
.Register__content{
	margin: 0;
    padding: 20px !important;
}
.pad{
	padding-bottom: 10px;
	padding-top: 10px;
}
.hidden { 
	display:none; 
}
.landing-image-register{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/intersection.png') !important;
    background-size: cover !important;
    min-height: 100vh;
    height: 100vh;
    position: relative;
}