.wrapper-login{
  	height: 100vh;
	position: relative;
}
.Login {
    color: #3c4e52;
    margin-left: auto;
	margin-right: auto;
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Login__content{
    padding: 20px !important;
}

.landing-image-login{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/intersection.png') !important;
    background-size: cover !important;
    min-height: 100vh;
    height: 100vh;
    position: relative;
}